{% extends "base.html" %}

{% block pagetitle %}
  <title>关于</title>
{% endblock %}

{% block content %}
  <div class="blog-post">
    <h2 class="blog-post-title">关于这个博客</h2> 
      <p>这是我的另一个博客，写非技术文章，杂文，放在我自己的Linode Tyoko VPS 上。<a href="http://blog.breakwire.me">BreakWire </a>作为一个技术博客，写技术文章和学习笔记，用的 Otopress 静态页面生成器，放在 GitHub 上面。</p>  
      <br />
    <h2 class="blog-post-title">关于我</h2>    
      <p>Major in CS，maybe SE is more accurately。Mac、OS X、Linux、Python、C. 自行车，瓦罐旅行车，滑板，追风，逐悦，不跟随。伪完美主义者，轻度强迫症，Live What I Love.</p> 
  </div>
{% endblock %}