{% extends "base.html" %}

{% block pagetitle %}
  <title>项目</title>
{% endblock %}

{% block content %}
  <div class="blog-post">
    <h2 class="blog-post-title">NO MAN'S LAND</h2> 
      <p>blog based on Django Framework，实现基本功能，分类，标签，发布、更新时间自动设置为当前，Mardown 渲染，本地写作，复制标题（必须）、分类（必须）、标签（非必需）、文章内容至后台保存更新。</p>
      <p>就是这个站点：<a href="http://breakwire.me">NO MAN'S LAND</a>（长期项目，这个站点我要好好做下去，Octopress 还是不爽，还是要自己做一个。）</p>
      <p>GitHub: <a href="https/github.com/lsdlab/my_blog">my_blog</a></p>  
      <br />
    <h2 class="blog-post-title">BookGarage</h2>    
      <p>一个Django 小项目，使用豆瓣读书的API,管理自己的书，实体的或者电子的，标注阅读进度，标签，发表书评，分享等等。</p>
      <p>开发中，没有放弃……</p>
  </div>
{% endblock %}